*{
	margin: 0;
	padding: 0;
}
.sxt-wrapper{
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	position: relative;
}
.sxt-bg{
	width: 100%;
	height: 100%;
}
.sxt-bg .img{
	width: 100%;
	height: 100%;
	content: '';
	background:url(../img/1.jpg) no-repeat 50% 50%;
	background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 1;
	animation: animated 16s linear infinite;
    transform: scale(1.2);
}
.img:nth-child(1){
	z-index: 3;
	animation-name:animated1;
}
.img:nth-child(2){
	z-index: 2;
	animation-name:animated2;
}
.img:nth-child(3){
	z-index: 1;
	animation-name:animated3;
}
.img:nth-child(4){
	z-index: 0;
	animation-name:animated4;
}
h1{
	top: 50%;
	left: 50%;
	text-align: center;	
	position: absolute;
	z-index: 30;
	font-weight: 300;
	box-shadow: 0 1em 2em 1em rgba(0,0,0,.5);
	/*color: #fff;*/
	padding: 1em 2em;
	line-height: 1.5;
	transform: translate3d(-50%,-50%,0);
	background: rgba(255,255,255,0.7);
}
h1 small{
	display: block;
	font-size: .7em;
}
h1 small:first-child{
	border-bottom: solid 1px rgba(0,0,0,.25);
	padding-bottom: .7em;
}
h1 small:last-child{
	border-bottom: solid 1px rgba(0,0,0,.25);
	padding-bottom: .5em;
}
@keyframes animated1{
	0%{
		opacity: 1;
		transform: scale(1.2);
	}
	1%{
		opacity: 1;
	}
	23%{
		opacity: 0;
		transform: scale(1);
	}
	26%{
		opacity: 0;
		transform: scale(1);
	}
	100%{
		opacity: 0;
		transform: scale(1.2);
	}
	98%{
		opacity: 0;
		transform: scale(1.2);
	}
	100%{
		opacity: 1;
	}
}
@keyframes animated2{
	23%{
		opacity: 1;
		transform: scale(1.2);
	}
	25%{
		opacity: 1;
		transform: scale(1.2);
	}
	50%{
		opacity: 0;
		transform: scale(1);
	}
	100%{
		opacity: 1;
		transform: scale(1.2);	
	}
}
@keyframes animated3{
	50%{
		opacity: 1;
		transform: scale(1.2);
	}
	/*51%{
		opacity: 1;
		transform: scale(1.2);
	}*/
	73%{
		opacity: 0;
		transform: scale(1);
	}
	100%{
		opacity: 1;
		transform: scale(1.2);
	}
}
@keyframes animated4{
	73%{
		opacity: 1;
		transform: scale(1.2);
	}
	/*75%{
		opacity: 1;
		transform: scale(1.2);
	}*/
	90%{
		opacity: 0;
		transform: scale(1);
	}
	100%{
		opacity: 1;
		transform: scale(1.1);
	}
}
