*{
    margin:0;
    padding:0;
}
.gameDiv{
    width: 100vw;
    height: 670px;
    background: url("../img/bg11.jpg") no-repeat;
    background-size: cover;
}
.game{
	position: relative;
	margin: 0 auto;
}
.game img{
	position: absolute;
}
.fileOrSuccess{
	width: 500px;
	height: 350px;
	background: url(../img/cg.png) no-repeat;
	position: relative;
	margin:-50px auto;
	cursor: pointer;
	overflow: hidden;
    display: none;
}
.score{
	background: url(../img/fs.png);
	width: 180px;
	height: 210px;
	background-size: cover;
	position: absolute;
	bottom: 130px;
	right: 80px;
	/*background-color: ;*/
	line-height: 170px;
	font-size: 40px;
	text-align: center;
	border: 0;
}
.btn{
	width: 190px;
	height: 60px;
	background: url(../img/stop.png) no-repeat;
	background-size: cover;
	border: 0;
	color: #fff;
	font-weight: bold;
	cursor: pointer;
	font-size: 20px;
	outline: none;
}
