*{
	margin: 0;
	padding: 0;
}
.wrap{
	width:570px;
	height:550px;
	margin: 50px auto;
	overflow: hidden;
}
.item{
	width: 100%;
	height: 30px;
}
.item-banner{
	height: 100%;
	list-style: none;
	
}
.item-banner li{
	width:140px;
	height: 100%;
	background: #CD3266;
	float: left;
    border: solid 2px #AC1225;
    color: #fff;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    margin-right: -2px;
}
.contain-wrap{
	height: 65px;
	height: 100%;
	position: relative;
}
.contain{
	list-style: none;
	height: 65px;
	width: 100%;
}
.contain li{
	text-align:center ;
	line-height: 100px;
	width: 140px;
	height: 100%;
	font-size:15px ;
	float: left;
	border: solid 2px #AC1225;
	margin-right: -2px;
	line-height:65px;
	margin-top: -2px;
	display: inline-block;
}

.contain button{
	width: 20px;
	height: 22px;
	background-color:#ccc;
	font-weight: bold;
	border: 0;
}
.contain span{
	padding:0 10px;
	border: 1px solid darkgray;
}
.contain li img{
	width: 40px;
	height: 55px;
	margin-top: 5px;
}
.end{
	background:#CD3266;
	width: 570px;
	height: 40px;
	margin-top: 275px;
	position: absolute;
	
}
.count{
	list-style: none;
}
.count li{
	float: right;
	text-align: center;
	line-height: 40px;
	width: 140px;
	color: white;
}
.count li a{
	color: yellow;
	font-size: 17px;
	padding: 3px;
}

.vealute{
	width: 400px;
	height: 50px;
	margin: -200px auto;
}
.vealute h4{
	color: red;
}
.vealute ul{
	list-style: none;
	width: 100%;
	height: 100%;
}
.vealute li{
	background: url(../img/星.png);
	width: 30px;
	height: 30px;
	background-size: 30px 30px;
	display: inline-block;
	
}
.vealute input{
      width: 200px;
      height: 50px;
      margin:-30px 200px;
      position: absolute;
      text-indent:8px;
}
.img{
	width: 30px;
	height: 30px;
	 background:url(../img/星_1.png);
	background-size: 30px;
	/*display: none;*/
    z-index: 100;
   
}
.suggest{
	 width: 200px;
      height: 50px;
      margin:-30px 200px;
      position: absolute;
      text-indent:8px;
      border: 1px solid #666666;
      color: #666666;
}
