
body{
    min-width: 330px;
}
/*header start*/
#header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 65px;
    background: #e9e8ee;
    box-shadow: 0 2px 5px #ccc;
    min-width: 400px;
    z-index:999;
}
#header .h-main{
    width: 1100px;
    height: 100%;
    margin: 0 auto;
}
#header .h-main .h-m-logo{
    float: left;
}
#header .h-main .h-m-logo a{
    display: block;
    padding: 14px;
}
#header .h-main .h-m-nav{
    float: right;
    width: 810px;
    height: 100%;
}
#header .h-main .h-m-nav>ul{
    height: 100%;
    display: none;
}
#header .h-main .h-m-nav ul.nav-list1{
    display:block;
}
#header .h-main .h-m-nav ul.nav-list2{
    width: 480px;
    height: 55px;
    margin: 0 auto;
}
#header .h-main .h-m-nav>ul>li{
    float: left;
    height: 100%;
}
#header .h-main .h-m-nav ul.nav-list1>li a{
    display: block;
    padding: 23px 41px;
    color: #000;
}
#header .h-main .h-m-nav ul.nav-list2>li>a{
    display: block;
    padding: 18px 42px;
    color: #000;
}
#header .h-main .h-m-nav ul li.active a{
    color: #A7C31E;
}
#header .h-main .h-m-nav ul li a:hover{
    color: #A7C31E;
}
#header .h-main .h-m-nav ul.nav-list2>li.more{
    position: relative;
    margin-left: 20px;
    cursor: pointer;
    line-height: 55px;
}
#header .h-main .h-m-nav ul.nav-list2>li.more>img{
    width: 13px;
    height: 13px;
    margin-left: 2px;
}
#header .h-main .h-m-nav ul.nav-list2>li.more .more-hide{
    display: none;
    position: absolute;
    left: -30px;
    top: 45px;
    width: 100px;
    height: 140px;
    background: #fff;
    border: 1px solid #000;
    border-radius: 5px;
}
#header .h-main .h-m-nav ul.nav-list2>li.more .more-hide li{
    height: 35px;
    text-align: center;
    line-height: 35px;
}
#header .h-main .h-m-nav ul.nav-list2>li.more .more-hide li a{
    color: #000;
}
#header .h-main .h-m-nav ul.nav-list2>li.more .more-hide li a:hover{
    color: #A7C31E;
}
/*end header*/

/*banner start*/
#banner{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 850px;
    margin-top: 71px;
}
#banner .b-part{
    position: relative;
    width: 100%;
    height: 100%;
}
#banner .b-part .part{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#banner .b-part .part1{
    background: url("../img/index/bg1-1.png") center center;
}
#banner .b-part .part1 .img1{
    position: absolute;
    top: 500px;
    left: 100px;
    width: 300px;
    height: 125px;
    background: url("../img/index/bg1-2.png") 0 0/100% 100%;
}
#banner .b-part .part1 .img2{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 970px;
    height: 730px;
    background: url("../img/index/bg1-3.png") 0 0/100% 100%;
}
#banner .b-part .part2{
    background: radial-gradient(rgb(0,173,239),rgb(0,82,124));
}
#banner .b-part .part2 .img1{
    position: absolute;
    top: 500px;
    left: 100px;
    width: 300px;
    height: 120px;
}
#banner .b-part .part2 .img1 p{
    width: 100%;
    margin: 10px 0;
}
#banner .b-part .part2 .img1 p img{
    display: block;
    width: 100%;
    height: auto;
}
#banner .b-part .part2 .img2{
    position: absolute;
    bottom: 100px;
    right: 50px;
    width: 930px;
    height: 635px;
    background: url("../img/index/bg2-4.png") 0 0/100% 100%;
}
#banner .b-part .part3{
    background: url("../img/index/bg3-1.jpg") 0 0/100% 100%;
}
#banner .b-part .part3 .img1{
    position: absolute;
    top: 115px;
    left: 70px;
    width: 777px;
    height: 600px;
    background: url("../img/index/bg3-2.png") 0 0/100% 100%;
}
#banner .b-part .part3 .img2{
    position: absolute;
    top: 200px;
    right: 200px;
    width: 300px;
    height: 120px;
}
#banner .b-part .part3 .img2 p{
    width: 100%;
    margin: 10px 0;
}
#banner .b-part .part3 .img2 p img{
    display: block;
    width: 100%;
    height: auto;
}
#banner .b-tab ul li{
    float: left;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background: #006597;
    border-radius: 100%;
    cursor: pointer;
}
#banner .b-tab{
    position: absolute;
    left: 50%;
    bottom: 27px;
    width: 62px;
    height: 10px;
    margin-left: -30px;
}
#banner .b-tab ul li.on{
    width: 6px;
    height: 6px;
    background: transparent;
    border: 2px solid #9eb737;
}

/*classic*/
#classic{
    position: relative;
    width: 100%;
    height: 920px;
    background: url('../img/index/bg.png') center center;
}
#classic .c-title{
    max-width: 521px;
    width: 100%;
    height: 90px;
    padding-top: 30px;
    margin: 0 auto;
    background: url("../img/index/line.png") no-repeat left bottom;
}
#classic .c-title img{
    display: block;
    margin: 0 auto;
}
#classic .c-title p{
    margin-top: 22px;
    text-align: center;
    font-size: 18px;
}
#classic .c-main{
    overflow: hidden;
    position: relative;
    width: 85%;
    height: 593px;
    margin: 80px auto 0;
}
#classic .c-main ul{
    position: absolute;
    top: 0;
    left: 50%;
    width: 500%;
    height: 100%;
    opacity: 0;
}
#classic .c-main ul li{
    float: left;
    position: relative;
    top: 50%;
    width: 240px;
    height: 395px;
    transform: translate(0,-50%);
    transition: width .3s,height .3s;
}
#classic .c-main ul li.slide{
    width: 300px;
    height: 494px;
}
#classic .c-main ul li.mid{
    width: 360px;
    height: 593px;
}
#classic .c-main ul li img{
    width: 100%;
    height: 100%;
}
#classic .btn div{
    position: absolute;
    top: 50%;
    width: 48px;
    height: 48px;
    transform: translate(0,-50%);
    cursor: pointer;
}
#classic .btn div.left{
    left: 45px;
}
#classic .btn div.right{
    right: 45px;
}




























