*{padding:0;margin: 0;}
body{
    -moz-user-select: none;/*FireFox不能选中文字*/
    background-color: #ffffff;
    color: #555;
    font-family:'Avenir Next','Lantinghei SC';
    font-size: 14px;
    -webkit-font-smoothing:antialiased;/*没觉得有啥变化*/
}
@font-face{
    font-family:'icons';
    src: url(img/icons.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}
.wrap{
    width: 100%;
    height: 105vh;
    background-color: #333 ;
    position: absolute;
    top:50%;
    margin-top: -350px;
    overflow: hidden;
    background:url(img/background.jpg);
}
/*海报样式*/
.photo{
    width: 260px;
    height: 320px;
    position: absolute;
    z-index:2;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.01);
    cursor:pointer;
    transition: all .6s ease-in-out;
    left: 50%;top:50%;
    margin-top:-160px;
    margin-left: -130px;
}
.photo .side{
    width: 100%;
    height: 100%;
    background-color: #eee;
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
    box-sizing: border-box;/*重点*/
}
.photo .side-front{ }
.side-back{ }
.photo .side-front .image{
    width: 100%;
    height: 250px;
    line-height: 250px;
    overflow: hidden;
}.photo .side-front .image img{
     width: 100%;
 }
.photo .side-front .caption{
     text-align: center;
     font-size: 16px;
     line-height: 50px;
 }
.side-back .desc{
     color: #666;
     font-size:14px;
     line-height: 1.5;
 }
 /*选中海报*/
.photo-center {
    left: 50% !important ;
    top:50% !important ;
    transform: rotate(0deg) scale(1.3,1.3) !important;
    margin-top:-160px;
    margin-left: -130px;
    z-index:99;
}
/*翻转*/
#wrap{
    perspective: 1200px;
    -webkit-perspective: 1200px;
    -moz-perspective: 1200px;
}
.photo{
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
}
.photo-wrap{
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    /*-webkit-transform-style: preserve-3d;*/
    transform-origin:0 0;
    transition:all .6s ease-in-out;
}
.photo-wrap .side-front{
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
}
.photo-wrap .side-back{
    -webkit-transform:rotateY(180deg);
    -moz-transform:rotateY(180deg);
}
.photo-wrap .side{
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
}
.photo-front .photo-wrap{
    -webkit-transform:translate(0px,0px) rotateY(0deg);
    /*-moz-transform:rotateY(0deg);*/
}
.photo-back .photo-wrap{
    -webkit-transform:translate(260px,0px) rotateY(-180deg);
    /*-moz-transform: rotateY(-180deg);*/
}
/*导航条*/
.nav{
    width: 80%;
    height:0;/*防止.nav覆盖.photo*/
    position: absolute;
    bottom:60px;
    left:10%;
    z-index: 100;
    text-align: center;
}
.nav span.i{
    display: inline-block;
    width: 35px;
    height: 35px;
    background: rgba(166, 166, 166, 0.8);
    border-radius:50%;
    cursor:pointer;
    /*z-index:100;*/
    transition:all .6s ease-in-out;
    transform:scale(.4);
    /*-webkit-transform:scale(.4);*/
    /*-moz-transform:scale(.4);*/
    /*-webkit-transition:all .6s;*/
    /*-moz-transition:all .6s;*/
}
.nav .i-current{
    transform:scale(.7)!important;
    transition:all .6s ease-in-out;
    /*-webkit-transform:scale(.8);*/
    /*-moz-transform:scale(.8);*/
    /*-webkit-transition:all .6s;*/
    /*-moz-transition:all .6s;*/
}
.nav .i-current::after{
    content:'\e600';
    font-family: 'icons';
    font-size:80%;
    display: inline-block;
    line-height: 35px;
    text-align: center;
    color: #fff;
    vertical-align: 38%;
    opacity:1;
}
.nav .i-front{
    transform: rotateY(0deg)!important;
    /*-webkit-transform: rotateY(0deg);*/
    /*transition:all .6s ease-in-out;*/
    /*-webkit-transform:scale(.4);*/
}
.nav .i-back{
    transform: rotateY(180deg)!important;
    /*-webkit-transform: rotateY(180deg);*/
    /*transition:all .6s ease-in-out;*/
    background: rgba(84, 84, 84, 0.8)!important;
    /*-webkit-transform:scale(.4);*/
}