*{
	margin:0;
	padding:0;
}
#main{
	position: relative;
}
.pin{

	padding:15px 0 0 15px;
	float: left;
}
.box{
	border: 1px solid darkgrey;
	box-shadow: 0 0 6px #A9A9A9;
	border-radius: 5px;
}
.box img{
	width:162px;
	height: auto;
}
